/* Enter your custom CSS here */

body {
	font-family: "lucida grande", sans-serif;
	color: #666;
	line-height: 32px;
  font-size: 16px;
}

/* Header*/

h1 {
	margin: 45px 0 30px;
	font-size: 48px;
}

/* Content */

h2 {
	color: #f07c17;
	font-size: 24px;
	font-weight: 600;
}

.box-title {
	margin: 30px 30px 20px;
}

.box-list {
	margin: 30px 30px 40px;
	line-height: 32px;
}

.border-box {
	border: 1px solid #ccc;
	margin-top: 30px;
}

.text-title {
	margin-top: 0;
	margin-bottom: 30px;
}